/* left-section, right-section 스타일 */
.left-section {
    width: 33.33%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
/* right-section */
.right-section {
    width: 50%; /* 오른쪽 섹션 너비 50% */
    padding: 20px;
    background-image: url("../static/JEJU/background.png"); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지가 섹션 전체를 채우도록 설정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
}

.center-content {
    width: 100%; /* center-content가 right-section의 전체 폭을 차지하도록 함 */
    margin-bottom: 20px;
}


/* form, h2, p 태그 */
.center-content form,
.center-content h2,
.center-content p {
    display: block; /* 또는 display: inline-block; */
    margin: 0 auto;
    margin-bottom: 20px; /* 아래 여백 추가 */
}

/* form 요소 스타일 (선택 사항) */
.center-content form {
    margin-bottom: 20px;
}

/* 제목 스타일 */
.right-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* 설명 스타일 */
.right-section p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

/* 공통 스타일 (선택 사항) */
body {
    display: flex;
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
}

.category-table {
    width: 100%; /* 테이블이 right-section의 전체 폭을 차지하도록 함 */
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px; /* 테이블 간 간격 추가 */
    text-align: center; /* 테이블 셀 내용 가운데 정렬 */
}

.category-table td {
    padding: 10px;
    vertical-align: middle; /* 셀 내용 가운데 정렬 */
}

.category-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* 이미지 동그랗게 */
    margin-bottom: 5px; /* 이미지 아래 여백 */
    display: block; /* 이미지를 블록 요소로 변경 */
    margin: 0 auto; /* 이미지를 가운데 정렬 */
}

.category-table span {
    display: block; /* 텍스트를 이미지 아래에 배치 */
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .category-table td {
        text-align: center;
    }
}
